[color]
  ui = true
[push]
  default = current
[core]
  editor = /usr/bin/vim
  excludesfile = /Users/nkrimm/.gitignore_global
  autocrlf = input
[pull]
  default = current
[diff]
  mnemonicprefix = true
[credential]
  helper = osxkeychain
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  remotes = for-each-ref --format='%(committerdate) %09 %(authorname) %09 %(refname)' --author Nik
  type = cat-file -t
  dump = cat-file -p
[user]
  name = Nik 'Fire Eater' Krimm
  email = nik@blue-lava.net 

